<main class="post-container">
    <article class="post">

        <div class="picture">
            <img src = "" alt = "A picture of a dog" width="500"> 
        </div>

        <div class="post-content">
            <p class="name">
                Doug
            </p>
            <p class="breed">
                Corgi
            </p>
            <p class= "price">
                $100
            </p>
            <p class= "gender">
                Male
            </p>
            <p class="description">
                He is a loyal dog. 
            </p>
        </div>

    </article>
</main>