<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Adopt Me</title>

        <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

        <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css" media="screen">

         <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
        <script src="/postTemplate.js" charset="utf-8" defer></script>
        <script src="/index.js" charset="utf-8" defer></script>
       
        <style>
          {
          box-sizing: border-box;
        }

        .row {
          display: flex;
        }

        /* Create three equal columns that sits next to each other */
        .column {
          flex: 33.33%;
          padding: 0px;
        }
        </style>

    </head>

    <body>
        <header>
            <a href="#"> <h1 class="site-title"> Adopt Me </h1> </a>

            <nav class="navbar">

                <ul class="navlist">
                    <li class="navitem navlink" id="adopt-dog-button"><a href="#" class ="nav-text">Adopt a Dog</a></li>
                    <li class="navitem navlink" id="post-dog-button"><a href="#" class ="nav-text">Post a Dog for Adoption</a></li>
                    <li class="navitem navlink"><a href="/aboutUs" class ="nav-text">About Us</a></li>
                
  
                </ul>

            </nav>

        </header>
        {{{body}}}
    </body>
</html>