body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}
a {
  text-decoration: none;
}
.site-title {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(210, 172, 235);
  color: #fff;
}
.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}
.navitem {
  display: inline-block;
}


a {
  color: #343434;
}
a:hover,
a:focus {
  color: rgb(210, 172, 235);
}
a:focus {
  outline: none;
}
.navlink a {
  padding: 8px 10px;
  display: inline-block;
}
.navlink.active {
  box-shadow: inset 0 -3px #ffd2cd;
}
.navitem.navbar-search {
  position: absolute;
  top: 252px;
  right:20px;
  padding: 1px;
}
#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}
#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}
#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: rgb(210, 172, 235);
  cursor: pointer;
}
#navbar-search-button:hover {
  color: #319df6;
}
#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}
.row > .column {
  width: 100%;
  height: 100%;
}
.post-container {
  margin: 30px ;
  display: flex;
  flex-wrap: wrap;
}

.post-content {
  background-color: #ffd2cd;
  position: relative;
  bottom: 10px;
}
.post {
  width: 450px;
  height: 720px;
  border: 12px solid rgb(210, 172, 235);
  margin: 25px;
  background: rgb(210, 172, 235);
}

.name {
  position: relative;
  text-align: center;
  top: 5px;
  font-weight: 700;
  font-size: 20px;
}

#dog-name-to-adopt {
  position: relative;
  left: 300px;
}

.prompt-header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(210, 172, 235);

}

#dog-name {
  position: relative;
  left: 300px;
}

#dog-breed {
  position: relative;
  left: 332px;
}

#dog-price {
  position: relative;
  left: 336px;
}

#dog-gender {
  position: relative;
  left: 322px;
}

#dog-description {
  position: relative;
  left: 294px;
}

#dog-url {
  position: relative;
  left: 303px;
}

.input-to-post {
  font-weight: 700;
}


.breed {
  text-align: center;
}

.price {
  text-align: center;
}

.gender {
  text-align: center;
}

.description {
  position: relative;
  height: 75px;
  word-break:break-all;
  padding: 10px;
  margin: 0px;
  bottom: 15px;
  text-align: center;
}

.content {
  flex: 1 32%;
  background-color: #fff;
  text-align: center;
  height: 30%;
  width: 100%;
  position: relative;
  bottom: 10px;
}
.picture {
  width: 100%;
  height: 65%;
  position: relative;
}
.picture > img {
  width: 100%;
  height: 100%;
}

.cart{ 
  color: white;
  position: relative;
  left: 160px;
  top: 3px;
}

.hidden {
  display: none;
}

a.cart:hover{
  color: blue;
  cursor: pointer;
}

.description-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}

.nav-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#create-adoption-button {
  /*creates a square button*/
  position: fixed;
  background: #000;
  left: 30px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: rgb(210, 172, 235);
  color: #fff;
  cursor: pointer;
  
}
#create-adoption-button:hover,
#create-adoption-button:focus {
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  font-size: 36px;
  background-color: white;
  color : #ffd2cd;
}
#create-adoption-button:focus {
  outline: none;
}
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}
#create-dog-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}
#adopt-dog-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}
.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}
.modal-header {
  position: relative;
  padding: 10px 20px;
}
.modal-header h3 {
  margin: 0;
  font-size: 28px;
}
.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}
.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}
.modal-footer .modal-accept-button {
  background-color:  #ffd2cd;;
  color: #fff;
}
.modal-footer .modal-accept-button:hover {
  background-color: #ffd2cd;;
}
