body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(210, 172, 235);
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: rgb(210, 172, 235);
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px rgb(210, 172, 235);
}



.navitem.navbar-search {
  position: absolute;
  top:255px;
  right:10px;
  padding: 1px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: rgb(210, 172, 235);
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.post-container {
  margin: 30px ;
  display: flex;
  flex-wrap: wrap;


  justify-content: center;
}

.post {
  width: 400px;
  height: 500px;
  border: 5px solid black;
  margin: 7px;
}

.content {
  position: relative;
  bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.picture {
  padding: 5px;
  width: 390px;
  height: 390px;
  position: relative;
}

.picture > img {
  width: 100%;
  height: 100%;
}


.hidden {
  display: none;
}




#create-adoption-button {
  /*creates a square button*/
  position: fixed;
  background: #000;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  font-size: 20px;
  background-color: rgb(210, 172, 235);
  color: #fff;
  cursor: pointer;
  
}

#create-adoption-button:hover,
#create-adoption-button:focus {
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;

  font-size: 36px;
  background-color: white;
  color : rgb(210, 172, 235);
}

#create-adoption-button:focus {
  outline: none;
}